@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Admin</title>
    </head>
    <body>
        <h1> Welcome to the Admin Dash</h1>
    </body>
    </html>